<div>
    <h2>
        <span>Sponsors</span>
        <button class="btn btn-primary float-right jh-create-entity create-sponsor" [routerLink]="['/', { outlets: { popup: ['sponsor-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Sponsor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sponsors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Sponsor Name</span></th>
            <th><span>Business Identification</span></th>
            <th><span>Phone Number</span></th>
            <th><span>Additional Information</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sponsor of sponsors ;trackBy: trackId">
                <td><a [routerLink]="['../sponsor', sponsor.id ]">{{sponsor.id}}</a></td>
                <td>{{sponsor.sponsorName}}</td>
                <td>{{sponsor.businessIdentification}}</td>
                <td>{{sponsor.phoneNumber}}</td>
                <td>{{sponsor.additionalInformation}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sponsor', sponsor.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sponsor/'+ sponsor.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sponsor/'+ sponsor.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
